body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-family: "Roboto Mono", monospace;
}

#matrixContainer {
  display: flex;
}

.stream {
  font-size: 24px;
  width: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: white;
}

.stream span {
  text-shadow: 0 0 5px #0aff0a, 0 0 10px #0aff0a, 0 0 15px #0aff0a,
    0 0 20px #0aff0a;
}

.o-0 {
  opacity: 0;
}

.o-100 {
  opacity: 1;
}

.white {
  color: white;
}

.matrix-green {
  color: #0aff0a;
}

.fade-out {
  opacity: 0;
  transition: opacity 3s;
}

.katakana {
  transform: scaleX(-1);
}
